@paddingVertical: 6px;
@paddingHorizontal: 30px;

@qlikOrange: #fab761;

.sc-slider-container {
	padding-left: @paddingHorizontal;
	padding-right: @paddingHorizontal;
	padding-top: @paddingVertical;
	padding-top: @paddingVertical;

	.noUi-handle {
		border-radius: 10px;
	}

	.noUi-connect {
		background: @qlikOrange;
		box-shadow: inset 0 0 0 #fff;
	}
	﻿.noUi-horizontal {
		.noUi-handle-upper {
			.noUi-tooltip {
				min-width: 60px;
				left: -14px;
			}
		}
		.noUi-handle-lower {
			.noUi-tooltip {
				top: 30px;
				min-width: 60px;
				left: -14px;
			}
		}
	}
}

.sc-slider-label {
	font-weight: bold;
	color: #737373;
	margin-top: 10px;
	display: inline-block;
	width: 100%;
	text-align: center;
}

